$white-bg: #fff;
$grey-bg: #F6F6F6;
$normal-color-link: #CDCDCD;
$hover-and-active-color-link: #FAFAFA;
$color-primary: #F1CDB3;
$white-font: #FFF;
$dark-font: #292929;
$color-title: #545454;
$color-subtitle: #4c4c4c;
$x2-dark-font: #545454;

html {
    scroll-behavior: smooth;
    
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: url(../assets/images/noise_transparent.svg), 
                    radial-gradient(100% 900% at 0% 0%, 
                     #5b483a 0%, #262425 100%), 
                     linear-gradient(0deg, #211f20, #211f20);

        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;

            .header-inside{
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav {
                    width: 36.92%;
                    max-width: 443px;
                    @media (width: 768px) {
                        width: 62.69%;
                        position: relative;
                        bottom: 1.6px;                           
                    }

                    .nav-list {
                        display: flex;
                        justify-content: space-between;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 24px;
                        font-weight: 400;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.17vw;                           
                        }
                    
                        .nav-item__current {
                            list-style-type: none;
                            color: $hover-and-active-color-link;
                            position: relative;
                        }

                        .nav-item__current::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: $color-primary;
                            position: absolute;
                            left: 0;
                            top: 22px;
                            @media (width: 768px) {
                                top: 24px;                          
                            }
                        }

                        .nav-item {
                            list-style-type: none;
                            position: relative;

                            .nav-link {
                                text-decoration: none;
                                color: $normal-color-link;
                                transition: .3s linear;
                            }
                            .nav-link:hover{
                                color: $hover-and-active-color-link;
                                transition: .3s linear;
                            }
                        }
                        .nav-item:active::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: $color-primary;
                            position: absolute;
                            left: 0;
                            top: 22px;

                            @media (max-width: 1279px) and (min-width: 769px) {
                                top: 1.72vw;                           
                            }
                        }
                    }
                }

                .header-inside__logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .logo-title {
                        color: $color-primary;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: 32px;
                        line-height: 35.2px;
                        letter-spacing: 0.06em;
                        margin-bottom: 5px;

                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 2.5vw;  
                            line-height: 2.73vw;                         
                        }
                    }
                    
                    .logo_subtitle {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        line-height: 14.95px;
                        letter-spacing: 0.1em;
                        margin-top: 5px;
                        color: $white-font;

                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.02vw;  
                            line-height: 1.17vw;                         
                        }
                    }
                }
            }
        }

        #not-only {
            width: 100%;
            position: relative;

            .wrapper-content {
                display: flex;
                justify-content: space-between;
                @media (width: 768px) {
                    flex-direction: column;
                    align-items: center;                         
                }

                .wrapper-content__info {
                    height: 322px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    top: 254px;
                    @media (width: 768px) {
                        top: 0;
                        align-items: center;  
                        width: 91.4%;
                        margin-top: 61px; 
                        height: 321px;                      
                    }

                    @media (max-width: 1279px) and (min-width: 769px) {
                        height: 25.16vw;  
                        line-height: 19.84vw;                         
                    }
                    
                    h1{
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 400;
                        font-size: 44px;
                        line-height: 57.2px;
                        color: $white-font;
                        width: 61.75%;                        

                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 3.44vw;
                            line-height: 4.45vw;                        
                        }
                        @media (width: 768px) {
                            margin-right: 60px;                    
                        }
                    }

                    .subtitle {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 24px;
                        color: $normal-color-link;
                        width: 91.64%;
                        @media (width: 768px) {
                            width: 71%;
                        }


                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.17vw;  
                            line-height: 1.88vw;                         
                        }
                    }

                    .redirect {
                    width: 207px;
                    height: 52px;
                    border-radius: 100px;
                    background-color: $color-primary;
                    color: $dark-font;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22.1px;
                    border: 0;
                    letter-spacing: 0.06em;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s linear;
                    @media (width: 768px) {
                        // margin-left: 59px;                      
                    }
                    }

                    .redirect:hover {
                        background-color: #fddcc4;
                        transition: .3s linear;
                    }
                }
                img {
                    width: 58.17%;
                    margin-top: 90px;
                    @media (width: 768px) {
                        width: 80.35%;
                        margin-left: 139px;
                        margin-top: 100px;
                    }
                }
            }
        }

        #about {
            width: 100%;
            position: relative;
            background-color: $white-bg;
            
            .wrapper-content {
                display: flex;
                justify-content: center;
                padding-bottom: 102px;
                @media (width: 768px) {
                    flex-direction: column-reverse;
                    align-items: center;                   
                }

                .wrapper-content__info{
                    width: 35.83%;
                    height: 379px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 95px 0 0 120px;

                    @media (max-width: 1279px) and (min-width: 769px) {
                        height: 29.61vw;                      
                    }
                    @media (width: 768px) {
                        width: 60.7%;
                        margin: 81px 0 0 0;                  
                    }
                    .subtitle {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 24px;
                        color: $color-subtitle;

                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.17vw;  
                            line-height: 1.95vw;                         
                        }
                    }
                }
                img {
                    margin-top: 80px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        width: 23.44vw;                         
                    }
                }
            }
        }

        #our-friends {
            width: 100%;
            background-color: $grey-bg;
            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-align: center;
                    margin-top: 79px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin-top: 6.17vw;                        
                    }
                }
                .slider {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 58px 0 60px 0;
                    align-items: center;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin: 4.53vw 0 4.69vw 0;                        
                    }

                    .slider__previous,
                    .slider__next {
                        width: 52px;
                        height: 52px;
                        border-radius: 100px;
                        border: 2px solid $color-primary;
                        background-color: transparent;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        align-items: center;
                        justify-content: center;
                        transition: .3s linear;
                    }  
                    
                    .slider__previous:hover,
                    .slider__next:hover{
                        background-color: #fddcc4;
                        border: transparent;
                        transition: .3s linear;
                    }

                    .slider-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color:#FAFAFA;
                        border-radius: 9px;
                        cursor: pointer;
                        .pets-photo{
                            @media (max-width: 1279px) and (min-width: 769px) {
                                width: 21.09vw;                         
                            }
                        }
                        .name {
                            margin: 26px 0 30px 0;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 23px;
                            letter-spacing: 0.06em;
                            color: $color-title;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                font-size: 1.56vw;
                                line-height: 1.8vw;                        
                            }
                        }
                        .learn-more {
                            width: 187px;
                            height: 52px;
                            border: 2px solid $color-primary;
                            border-radius: 100px;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 17px;
                            letter-spacing: 0.06em;
                            color: $dark-font;
                            background-color: transparent;
                            cursor: pointer;
                            margin-bottom: 30px;
                            transition: .3s linear;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                width: 14.61vw;
                                height: 4.06vw;
                                border-radius: 7.81vw;
                                font-size: 1.33vw;                       
                            }
                        }

                        .learn-more:hover {
                            background-color: #fddcc4;
                            border: transparent;
                            transition: .3s linear;

                        }
                    }
                    .slider-item:nth-child(3) {
                        margin: 0 36px;
                        @media (width: 768px) {
                            margin: 0 0 0 28px;                   
                        }
                    }

                    .slider-item:nth-child(4){
                        @media (width: 768px) {
                            display: none;                   
                        }
                    }

                    .slider-item:hover {
                        background-color: $white-bg;
                        transition: .3s linear;
                    }
                }
                .redirect {
                    width: 261px;
                    height: 52px;
                    border: none;
                    border-radius: 100px;
                    background-color: $color-primary;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    letter-spacing: 0.06em;
                    margin-bottom: 98px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #292929;
                    transition: .3s linear;

                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin-bottom: 7.81vw;                        
                    }
                }

                .redirect:hover {
                    background-color: #fddcc4;
                    transition: .3s linear;
                }
            }
        }

        #help {
            width: 100%;
            padding-bottom: 44px;
            background-color: $white-bg;

            h2 {
                text-align: center;
                padding: 83px 0 3px 0;
                @media (max-width: 1279px) and (min-width: 769px) {
                    padding: 6.48vw 0 0.23vw 0;                        
                }
            }

            .wrapper-content{
                @media (width: 768px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;                   
                }
            }
            
            .goods-part {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 55px 0 -2px 0;
                flex-wrap: wrap;
                @media (max-width: 1279px) and (min-width: 769px) {
                    margin: 4.297vw  0 0 0;                        
                }
                @media (width: 768px) {
                    justify-content: space-between;
                    width: 89%;                   
                }
                
                .goods-for-help {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 59px 56px 61px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin: 0 4.609vw 4.375vw 4.766vw;
                    }
                    @media (width: 768px) {
                        width: 22.135vw;
                        margin: 0 0 7.161vw 0;                   
                    }
                    img {
                        margin-bottom: 30px;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            margin-bottom: 2.34vw;
                            width: 4.69vw;  
                        }
                    }
                    p {
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        color: $x2-dark-font;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.56vw; 
                            line-height: 1.8vw;                       
                        }
                    }
                }
            }
            .goods-part:nth-child(2) {
                width: 71.7%;
            }
        }

        #in-addition {
            width: 100%;
            background-color: $grey-bg;
            .wrapper-content {
                display: flex;
                width: 100%;
                justify-content: center;
                @media (width: 768px) {
                    flex-direction: column-reverse;
                    align-items: center;                 
                }
                .wrapper-content__info {
                    width: 31.67%;
                    margin: 82px 0 100px 31px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin: 6.41vw 0 7.81vw 2.42vw;                        
                    }
                    @media (width: 768px) {
                        width: 53.67%;
                        margin: 84px 0 60px 0;                  
                    }
                    
                    h2 {
                        margin-bottom: 18px;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            margin-bottom: 1.41vw;                        
                        }
                    }
                    .bank-account {
                        .bank-account__title{
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 16.5px;
                            letter-spacing: 0.06em;
                            color: $color-title;
                            margin-bottom: 20px;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                margin-bottom: 1.56vw;
                                font-size: 1.17vw;
                                line-height: 1.17vw;                      
                            }
                        }
                        .bank-account__card-number {
                            display: flex;
                            align-items: center;
                            width: 349px;
                            height: 43px;
                            border-radius: 9px;
                            background-color: $color-primary;
                            margin-bottom: 20px;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                width: 27.27vw;
                                height: 3.36vw;
                                border-radius: 0.7vw;                     
                            }
                            
                            img {
                                margin: 10px 15px;
                                @media (max-width: 1279px) and (min-width: 769px) {
                                    margin: 0.78vw 1.17vw;
                                    width: 2.34vw;                    
                                }
                            }

                            p{
                                font-family: Georgia, 'Times New Roman', Times, serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 23px;
                                letter-spacing: 0.06em;
                                color: $color-title;
                                @media (max-width: 1279px) and (min-width: 769px) {
                                    font-size: 1.56vw;
                                    line-height: 1.8vw;                   
                                }
                            }
                        }
                        .bank-account__description{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 18px;
                            color: #B2B2B2;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                font-size: 0.94vw;
                                line-height: 1.41vw;                   
                            }                       
                        }
                    }
                }
                img {
                    object-fit: contain;
                    margin-bottom: 17px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        width: 39.45vw;                  
                    }
                    @media (width: 768px) {
                        margin-bottom: 100px;                  
                    }
                }
            }
        }
        
        footer {
            width: 100%;
            background: url(../assets/images/noise_transparent.svg), 
                        radial-gradient(100% 900% at 0% 0%, 
                        #5b483a 0%, #262425 100%), 
                        linear-gradient(0deg, #211f20, #211f20);

            .wrapper {
                display: flex;
                justify-content: space-between;
                @media (width: 768px) {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;                  
                }
                .wrapper-content:nth-child(2){
                    width: 25.17%;
                    & > .contacts > a > img {
                        @media (max-width: 1279px) and (min-width: 769px) {
                            width: 1.95vw;                     
                        }
                    }
                    @media (width: 768px) {
                        width: 41.67%;
                        position: relative;
                        right: 6px;              
                    }


                    .column-title {
                        margin: 57px 0 33px 0;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            margin: 4.45vw 0 2.58vw 0;                     
                        }
                        @media (width: 768px) {
                            margin: 31px 0 32px 0;                   
                        }

                    }
                    .contacts {
                        margin: 32px 0 0 0;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            margin: 2.50vw 0 0 0;                  
                        }
                    }
                    .contacts:nth-child(3){
                        margin: 32px 0 0 0;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            margin: 2.50vw 0 0 0;                  
                        }
                }
                }
                .column-title {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45.5px;
                    letter-spacing: 0.06em;
                    color: $white-font;
                    margin: 56px 0 40px 0;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        font-size: 2.73vw;
                        line-height: 3.52vw;
                        margin: 4.38vw 0 3.13vw 0                  
                    }
                    @media (width: 768px) {
                        margin: 32px 0 40px 0;                   
                    }
                }

                .contacts {
                    display: flex;
                    align-items: center;
                    margin: 40px 0;
                    transition: .3s linear;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin: 2.50vw 0 0 0;                  
                    }
                    @media (width: 768px) {
                        margin: 38px 0;                   
                    }

                    a, p {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        color: $color-primary;
                        @media (max-width: 1279px) and (min-width: 769px) {
                            font-size: 1.56vw;
                            line-height: 1.56vw;               
                        }

                        img {
                            margin-right: 20px;
                            @media (max-width: 1279px) and (min-width: 769px) {
                                margin-right: 1.56vw; 
                                width: 3.12vw;                 
                            }
                        }
                    }
                }
                .contacts:hover{
                    transform: scale(1.2);
                    transition: .3s linear;
                }
                .footer__image {
                    margin-top: 39px;
                    @media (max-width: 1279px) and (min-width: 769px) {
                        margin-top: 3.05vw;
                        width: 23.44vw;                  
                    }
                    @media (width: 768px) {
                        margin-top: 26px;                   
                    }
                }
            }
        }
        
        .wrapper{
            max-width: 1200px;
            margin: 0 auto;
            @media (max-width: 1279px) and (min-width: 769px) {
                width: 93%;                        
            }
            @media (width: 768px) {
                width: 708px;                         
            }
        }

        .section-title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 35px;
            line-height: 45.5px;
            letter-spacing: 0.06em;
            color: $color-title;
            @media (max-width: 1279px) and (min-width: 769px) {
                font-size: 2.73vw;  
                line-height: 3.52vw;                         
            }
        }

        a {
            text-decoration: none;
        }
   }
}