$white-bg: #fff;
$grey-bg: #F6F6F6;
$normal-color-link: #CDCDCD;
$hover-and-active-color-link: #FAFAFA;
$color-primary: #F1CDB3;
$white-font: #FFF;
$dark-font: #292929;
$color-title: #545454;
$color-subtitle: #4c4c4c;
$x2-dark-font: #545454;

html {
    scroll-behavior: smooth;
    
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;


        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;

            .header-inside{
                padding: 30px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width:767px) and (min-width: 300px) {
                    width: 93.33%;                         
                }
                @media (max-width:767px) and (min-width: 300px) {
                    width: 93.43%;
                    margin: 0 0 0 10px;                         
                }

                nav {
                    width: 36.92%;
                    max-width: 443px;
                    @media (max-width:991px) and (min-width: 768px) {
                        width: 62.69%;
                        position: relative;
                        bottom: 1.6px;                           
                    }
                    @media (max-width:767px) and (min-width: 300px) {
                        display: none;;                         
                    }

                    .nav-list {
                        display: flex;
                        justify-content: space-between;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 24px;
                        font-weight: 400;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            font-size: 1.17vw;                           
                        }
                    
                        .nav-item__current {
                            list-style-type: none;
                            color: $color-title;
                            position: relative;
                        }

                        .nav-item__current::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: $color-primary;
                            position: absolute;
                            left: 0;
                            top: 22px;
                            @media (max-width:991px) and (min-width: 768px) {
                                top: 24px;                          
                            }
                        }

                        .nav-item {
                            list-style-type: none;
                            position: relative;

                            .nav-link {
                                text-decoration: none;
                                color: $color-title;
                                transition: .3s linear;
                            }
                            .nav-link:hover{
                                color: $dark-font;
                                transition: .3s linear;
                            }
                        }
                        .nav-item:active::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: $color-primary;
                            position: absolute;
                            left: 0;
                            top: 22px;

                            @media (max-width: 1279px) and (min-width: 992px) {
                                top: 1.72vw;                           
                            }
                        }
                    }
                }
                .burger {
                    width: 30px;
                    height: 22px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: black;
                        position: relative;
                        top: 8px;
                    }
                    display: none;
                    @media (max-width:767px) and (min-width: 300px) {
                        display: block;                         
                    }
                }

                .header-inside__logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .logo-title {
                        color: $color-title;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-size: 32px;
                        line-height: 35.2px;
                        letter-spacing: 0.06em;
                        margin-bottom: 5px;

                        @media (max-width: 1279px) and (min-width: 992px) {
                            font-size: 2.5vw;  
                            line-height: 2.73vw;                         
                        }
                    }
                    
                    .logo_subtitle {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        line-height: 14.95px;
                        letter-spacing: 0.1em;
                        margin-top: 5px;
                        color: $dark-font;

                        @media (max-width: 1279px) and (min-width: 992px) {
                            font-size: 1.02vw;  
                            line-height: 1.17vw;                         
                        }
                    }
                }
            }
        }

        main {
            height: 100%;
            
            #our-friends {
                background-color: $grey-bg;
    
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .pets-list {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: wrap;
                        @media (max-width:991px) and (min-width: 768px) {
                            width: 82%;                        
                        }              
                        @media (max-width:767px) and (min-width: 300px) {
                            width: 90%;
                            justify-content: center;                       
                        }          
        
                        .pets-list__item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color:#FAFAFA;
                            border-radius: 9px;
                            cursor: pointer;
                            transition: .3s linear;
                            margin: 0 0 30px 0;
                            @media (max-width:991px) and (min-width: 768px) {
                                &:nth-child(8),
                                &:nth-child(7) {
                                    display: none;
                                }                          
                            }
                            @media (max-width:767px) and (min-width: 300px) {
                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(7),
                                &:nth-child(8) {
                                    display: none;
                                }                                                         
                            }
                            
                            
                            img {
                                @media (max-width: 1279px) and (min-width: 992px) {
                                    width: 21.094vw;                         
                                }
                            }

                            .name {
                                margin: 25px 0 31px 0;
                                font-family: Georgia, 'Times New Roman', Times, serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 23px;
                                letter-spacing: 0.06em;
                                color: $color-title;
                                @media (max-width: 1279px) and (min-width: 992px) {
                                    font-size: 1.563vw;
                                    line-height: 1.563vw;
                                    margin: 1.953vw 0 2.422vw 0;                    
                                }
                            }
                            .learn-more {
                                width: 187px;
                                height: 52px;
                                border: 2px solid $color-primary;
                                border-radius: 100px;
                                font-family: Georgia, 'Times New Roman', Times, serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                letter-spacing: 0.06em;
                                color: $dark-font;
                                background-color: transparent;
                                cursor: pointer;
                                margin-bottom: 30px;
                                transition: .3s linear;
                                @media (max-width: 1279px) and (min-width: 992px) {
                                    width: 14.609vw;
                                    height: 4.063vw;
                                    border-radius: 7.813vw;
                                    font-size: 1.328vw;                    
                                }
                            }
        
                            .learn-more:hover {
                                background-color: #fddcc4;
                                border: transparent;
                                transition: .3s linear;
                            }
                        }
    
                        .pets-list__item:hover {
                            background-color: $white-bg;
                            transition: .3s linear;
                        }
                    }
                    .pets-list:nth-child(3) {
                        margin: 30px 0 60px 0;
                    }
    
                    .nav-panel {
                        display: flex;
                        flex-direction: row;
                        margin: 30px 0 100px 0;
                        width: 28.33%;
                        justify-content: space-between;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            margin-bottom: 7.813vw;
                        }
                        @media (max-width:991px) and (min-width: 768px) {
                            width: 48.13%;
                            margin: 8px 0 78px 0;                     
                        }
                        @media (max-width:767px) and (min-width: 300px) {
                            width: 100%;
                            max-width: 350px;
                            margin: 3.75vw 0 13.125vw 0;                       
                        }                         
    
                        .nav-panel__buttons {
                            width: 52px;
                            height: 52px;
                            border-radius: 100px;
                            border: 2px solid $color-primary;
                            background-color: transparent;
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-size: 20px;
                            line-height: 23px;
                            letter-spacing: 0.06em;
                            align-items: center;
                            justify-content: center;
                            transition: .3s linear;
                            @media (max-width: 1279px) and (min-width: 992px) {
                                width: 4.063vw;
                                height: 4.063vw;
                                border-radius: 7.813vw;
                                font-size: 1.563vw;
                                line-height: 1.797vw;
                            }                            
                        }
    
                        .nav-panel__buttons:nth-child(1),
                        .nav-panel__buttons:nth-child(2){
                            border: 2px solid $normal-color-link;
                            color: $normal-color-link;
                        }
    
                        .nav-panel__buttons:nth-child(3){
                            border: none;
                            color: $dark-font;
                            background-color: $color-primary;
    
                        }
            
                        .nav-panel__buttons:nth-child(4):hover,
                        .nav-panel__buttons:nth-child(5):hover{
                            background-color: #fddcc4;
                            border: transparent;
                            transition: .3s linear;
                        }
                    }
                }
            }

        }

        footer {
            width: 100%;
            background: url(../assets/images/noise_transparent.svg), 
                        radial-gradient(100% 900% at 0% 0%, 
                        #5b483a 0%, #262425 100%), 
                        linear-gradient(0deg, #211f20, #211f20);

            .wrapper {
                display: flex;
                justify-content: space-between;
                @media (max-width:991px) and (min-width: 768px) {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;                  
                }
                @media (max-width:767px) and (min-width: 300px) {
                    flex-direction: column;                         
                }
                .wrapper-content:nth-child(2){
                    width: 25.17%;
                    & > .contacts > a > img {
                        @media (max-width: 1279px) and (min-width: 992px) {
                            width: 1.95vw;                     
                        }
                    }
                    @media (max-width:991px) and (min-width: 768px) {
                        width: 41.67%;
                        position: relative;
                        right: 6px;              
                    }
                    @media (max-width:767px) and (min-width: 300px) {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;                         
                    }


                    .column-title {
                        margin: 57px 0 33px 0;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            margin: 4.45vw 0 2.58vw 0;                     
                        }
                        @media (max-width:991px) and (min-width: 768px) {
                            margin: 31px 0 32px 0;                   
                        }
                        @media (max-width:767px) and (min-width: 300px) {
                            width: 98%;
                            margin: 0 auto 4.188vw;
                        }

                    }
                    .contacts {
                        margin: 32px 0 0 0;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            margin: 2.50vw 0 0 0;                  
                        }
                        @media (max-width:767px) and (min-width: 300px) {
                            margin: 7.813vw 0 0 0;                         
                        }
                    }
                    .contacts:nth-child(3){
                        margin: 32px 0 0 0;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            margin: 2.50vw 0 0 0;                  
                        }
                        @media (max-width:767px) and (min-width: 300px) {
                            margin: 12.5vw 0 0 0;
                        }
                }
                }
                .column-title {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45.5px;
                    letter-spacing: 0.06em;
                    color: $white-font;
                    margin: 56px 0 40px 0;
                    width: 21.906vw;
                    @media (max-width: 1279px) and (min-width: 992px) {
                        font-size: 2.73vw;
                        line-height: 3.52vw;
                        margin: 4.38vw 0 3.13vw 0                  
                    }
                    @media (max-width:991px) and (min-width: 768px) {
                        margin: 32px 0 38px 0;
                        width: 36.328vw;                   
                    }
                    @media (max-width:767px) and (min-width: 300px) {
                        font-size: 7.813vw;
                        line-height: 10.156vw;
                        text-align: center;
                        margin: 9.063vw 0 12.5vw 0;
                        width: 100%;                        
                    }
                }

                .contacts {
                    display: flex;
                    align-items: center;
                    margin: 40px 0;
                    transition: .3s linear;
                    @media (max-width: 1279px) and (min-width: 992px) {
                        margin: 2.50vw 0 0 0;                  
                    }
                    @media (max-width:991px) and (min-width: 768px) {
                        margin: 38px 0;                   
                    }
                    @media (max-width:767px) and (min-width: 300px) {
                        justify-content: center;                         
                    }

                    a, p {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        color: $color-primary;
                        @media (max-width: 1279px) and (min-width: 992px) {
                            font-size: 1.56vw;
                            line-height: 1.56vw;               
                        }
                        @media (max-width:767px) and (min-width: 300px) {
                            font-size: 6.250vw;
                            line-height: 7.188vw;                       
                        } 

                        img {
                            margin-right: 20px;
                            @media (max-width: 1279px) and (min-width: 992px) {
                                margin-right: 1.56vw; 
                                width: 3.12vw;                 
                            }
                        }
                    }
                }
                .contacts:hover{
                    transform: scale(1.2);
                    transition: .3s linear;
                }
                .footer__image {
                    margin-top: 39px;
                    @media (max-width: 1279px) and (min-width: 992px) {
                        margin-top: 3.05vw;
                        width: 23.44vw;                  
                    }
                    @media (max-width:991px) and (min-width: 768px) {
                        margin-top: 28px;                   
                    }
                    @media (max-width:767px) and (min-width: 300px) {
                       width: 86.8%;
                       margin: 12.7vw auto 0;
                       display: block;
                    }
                }
            }
        }
        
        .wrapper{
            max-width: 1200px;
            margin: 0 auto;
            @media (max-width: 1279px) and (min-width: 992px) {
                width: 93%;                        
            }
            @media (max-width:991px) and (min-width: 768px) {
                width: 92.188vw;                         
            }
            @media (max-width:767px) and (min-width: 300px) {
                width: 93.750vw;                         
            }
        }

        a {
            text-decoration: none;
        }

        .section-title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 35px;
            line-height: 45.5px;
            letter-spacing: 0.06em;
            color: $color-title;
            text-align: center;
            padding: 80px 0 59px 0;
            @media (max-width: 1279px) and (min-width: 992px) {
                font-size: 2.734vw;
                line-height: 3.555vw;
                padding: 6.250vw 0 4.609vw 0;                      
            }
            @media (max-width:991px) and (min-width: 768px) {
                padding: 80px 0 30px 0;                          
            }
            @media (max-width:767px) and (min-width: 300px) {
                font-size: 7.813vw;
                line-height: 10.156vw;
                padding: 13.125vw 0 12.7vw 0;                     
            }
        }
   }
}